.topCategories {
    margin: $mg-1 + 6 0;
    .topCategories__content {
        width: 90%;
        margin: auto;
        padding: $pd-4 $pd-2 + 1;
        h2 {
            @include text($color-black-0, $fs-3, $fw-bold);
            line-height: $line-height-0 - 1;
        }
        // padding: 0 10px;
        .categories_item {
            margin: $mg-1 0 $mg-1 - 3;
            height: 60px;
            padding: $pd-2 $pd-3;
            // border: 0.5px solid rgba(20, 23, 28, .06);
            box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
            display: flex;
            align-items: center;
            &:hover {
                transition: all .6s;
                box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
            }
            i {
                @include text($color-black-0, 30px, $fw-normal);
                margin-right: $mg-1;
            }
            span {
                @include text($color-black-0, $fs-0, $fw-normal);
            }
        }
    }
}